* { box-sizing:border-box;}

body {background:#ddd; color:#222; font-family:sans-serif; min-height:100vh; display:flex;flex-direction:column;max-width:760px; margin:20px auto; padding: 20px;}
@media (max-width:600px) { body { padding:20px 5px; } }
a { color:#000; }
h1 {  margin-bottom: 15px;}
h1 a img { max-width:512px; width:100%; height:auto;}
form { margin-top:50px;}
fieldset {max-width:720px; padding:0; margin:auto 10px; align-self:center; background:#eee; color:#222; border:0; border-radius: 10px 10px 0 0; box-shadow: 0 0 30px #000; }
@media (max-width:600px) { fieldset { margin: auto 3px; } }
legend {background:linear-gradient(180deg, #dbdbdb 0%, #d6d6d6 100%); border-width:1px 0; border-style:solid; border-color:#e8e8e8 #000 #a7a7a7 #000; margin:0; padding: 14px; font-size: 100%; text-align:center; border-radius: 10px 10px 0 0; width:100%;float:left; margin-bottom:10px;}
fieldset dl { padding: 10px; }
fieldset dt { margin-top: 15px; }
fieldset .collateral>div { padding: 8px; }
fieldset .collateral>div:nth-child(odd) { background:#0001; }
.common { display:inline-block; margin-left:5px; padding:5px; }
.common button { padding:3px; }
input[name="token"]+span {font-size:80%; float:right; padding:5px; }
button[type="submit"],
button[type="submit"] + a { display:inline-block; margin: 10px; }

button,.button { border: 1px solid #9b9b9b; border-radius: 5px; border-bottom-color: #676767; background:linear-gradient(180deg, #c9c9c9 0%, #c5c5c5 1px, #c2c2c2 100%); color:#111; text-shadow:0 -1px 1px #9f9f9f; padding: 10px 18px; font-size: 100%; cursor:pointer; text-decoration:none;}
button:hover,.button:hover { background:linear-gradient(180deg, #cbcbcb 0%, #c7c7c7 1px); }
button:active, .button:active { background:#bebebe; outline:2px solid #bebebe; border:1px dotted #5c5c5c; }
button[disabled] { background:#b2b2b2; color:#818181; border-color:#7b7b7b; cursor: default; }
button[disabled]:active { outline:none; border:1px solid #7b7b7b; }
