
ol.loans {}
.loan>span, .loan>a {display:block;}

.status-badge { padding: 5px; border-radius: 4px; margin-right: 5px; font-size:1.5rem; vertical-align:middle; }
.status-badge.Pending {background:#fff3cdbb;}
.status-badge.Active {background:#cfe2ffbb;}
.status-badge.Repaid {background:#d1e7ddbb;}
.status-badge.Defaulted {background:#f8d7dabb;}
.status-badge.Canceled {background:#cff4fcbb;}

[data-my-balance] { font-size:80%; font-weight:normal; }

.lens-profile img { width:60px; height:60px; border-radius:50%; vertical-align:middle; }
